.zawi-selection-content {
  grid-template-rows: 54px 1fr;
  display: grid;
  height: 100%;


  .main-selection-content-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: auto;

    .selection-container {
      display: grid;
      grid-template-rows: 32px 1fr 28px;
      overflow: auto;


      // .selection-list.selected {
      //   margin-left: 24px;
      //   overflow: hidden;
      //   width: 100%;
      // }

      .empty-list {
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        color: rgba(0, 0, 0, 0.54);
        justify-content: center;
        align-items: center;
        margin-left: 30px;
      }

      .item-count {
        height: 16px;
        color: rgba(0, 0, 0, 0.54);
        font-family: Roboto;
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        padding: 8px 0 4px 27px;
      }
    }

    .selection-container:first-of-type {
      border-right: 1px solid rgba(0, 0, 0, 0.12);
    }
  }


  div.mat-chip-list-wrapper {
    height: 100% !important;
  }


}

