<div class="zawi-selection-content">
    <div>
        <app-clear-search-input (onKeyUp)="onSearchKeyUp($event)"></app-clear-search-input>
        <mat-divider></mat-divider>
    </div>

    <div class="main-selection-content-container">
        
        <div class="selection-container available">
            <app-row-details [header]="'Available'" [action]="'ADD ALL'"></app-row-details>
            <app-selection-table [dataLists]="availableFiltered" [selected]="selectedFiltered" [attribute]="attribute" (toggleSelection)="toggleSelection($event)"></app-selection-table>

            <div *ngIf="availableToBeSelected.length === 0" class="empty-list">
                Empty selection list.
            </div>

            <span class="item-count">{{availableFiltered.length}} item{{availableFiltered.length > 1 ? 's' :''}} found</span>
        </div>

        <div class="selection-container">
            <app-row-details [header]="'Selected'" [action]="'DELETE ALL'" [disabled]="selectedFiltered.length===0"></app-row-details>
            <ng-container *ngIf="selectedFiltered.length > 0">
                <app-selected-tiles [selected]="selectedFiltered" [attribute]="attribute"></app-selected-tiles>
            </ng-container>

            <div *ngIf="selectedItems.length > 0 && selectedItems.length === 0" class="empty-list">
                None found, adjust your search criteria.
            </div>

            <div>
                <span class="item-count">{{selectedFiltered.length}} item{{selectedFiltered.length > 1? 's' : ''}} selected</span>
            </div>
        </div>
    </div>
</div>
