
.selected-option-container {
  display: flex;
  align-items: center;
  overflow: auto;

  .selection-list {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    .custom-mat-selection-list {
      height: 100%;
      width: 100%;

      // .custom-viewport-viewport {
      //   // height: 100%;
      //   height: 300px;
      //   width: 100%;

        .selected-item {
          background-color: rgba(85, 97, 220, .12);
          color: #5561dc;
          font-size: 14px;
          letter-spacing: .1px;
          line-height: 20px;
          font-weight: 400;
          width: fit-content;
          height: 36px;
          margin: 6px;
          border-radius: 18px;
          padding: 7px 7px 8px 16px;

          .attribute-container {
            display: block;
            flex-direction: row;
            justify-content: flex-start;
            margin: 0 -10px;

            .attribute-items {
              padding: 0 10px;
            }
          }
  
          .remove-icon {
            font-size: 20px;
            height: 20px;
            width: 20px;
          }
        }
      // }
    }
  }

  .empty-list {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.54);
    justify-content: center;
    align-items: center;
    margin-left: 30px;
  }
}
