<mat-nav-list>
    <mat-divider></mat-divider>

    <mat-list role="list">
        <mat-list-item [class.mydasboard-list-item-selected]="activeLink==0" (click)="switchSideBar(0)">Forms</mat-list-item>
        <mat-list-item [class.mydasboard-list-item-selected]="activeLink==1" (click)="switchSideBar(1)">Drop Down</mat-list-item>
        <mat-list-item [class.mydasboard-list-item-selected]="activeLink==2" (click)="switchSideBar(2)">Table</mat-list-item>
        <mat-list-item [class.mydasboard-list-item-selected]="activeLink==3" (click)="switchSideBar(3)">Dialog</mat-list-item>
        <mat-list-item [class.mydasboard-list-item-selected]="activeLink==4" (click)="switchSideBar(4)">Notification</mat-list-item>
      </mat-list>

    <mat-divider></mat-divider>

</mat-nav-list>