.add-remove-all-buttons {
    width: 98%;
        padding: 4px 10px 0;
        display: inline-flex;
        justify-content: space-between;

        .section-header {
          font-size: 14px;
          font-weight: 500;
          line-height: 28px;
          color: rgba(0, 0, 0, 0.54);
        }

        .add-remove-btn .mat-button {
          line-height: 28px;
        }

        .disabled-btn {
          font-size: 14px;
          font-weight: 500;
          color: rgba(0, 0, 0, 0.38);
          cursor: not-allowed;
          margin: 0;
        }
}
